/* ---------------------------
BASE STYLING OF THE PAGE
---------------------------- */
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
header,
footer {
  box-sizing: border-box;
  position: sticky;
  height: 130px;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 5px solid rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin-bottom: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
nav a {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-right: 10px;
  color: rgba(200, 200, 200, 0.9);
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(0, 0, 0);
}
nav a span {
  font-size: 0.6em;
}
.space_btw {
  display: block;
  line-height: 30px;
  padding-bottom: 50px;
}
.space_btw::before {
  content: attr(data-content);
}

/* ---------------------------
CSS FOR THE ANCHOR JUMP
---------------------------- */
.item {
  height: 200px;
  border: 1px solid gray;
}
#one {
  background: rgb(255, 207, 125);
  /* This color shows up the content-box + padding*/
  border-color: orange;
  padding-top: 20px;
}

/* ---- Anchor 2: with padding and margin */
.item_pdmg {
  padding-top: 130px; /*remember header is 130px*/
  margin-top: -130px;
}
#two {
  background-color: rgb(202, 219, 158);
  border-color: green;
}

/* ---- Anchor 3: with an additional div and position: relative */
.item_posrel {
  position: relative;
  display: block;
  top: -130px;
}
#three {
  background-color: rgb(245, 231, 159);
  border-color: yellow; /* This color shows up the content-box + padding*/
}
